<div class="body">
    <header class="header">
        <img src="assets/logo.png" alt="Logo" class="logo" />
      </header>
    <div class="elements-container">
        <div class="primeira-fila">
        <div class="form-group">
            <button>Cadastrar Produto</button>
          </div>
          <div class="form-group">
            <button>Precificar Produto</button>
          </div>
            <div class="form-group">
                <button>Enviar Orçamento</button>
            </div>
        </div>
        <div class="segunda-fila">
            <div class="form-group">
                <button>Consultar Clientes</button>
            </div>
          </div>
            <div class="form-group">
                <button>Consultar Produtos</button>
            </div>
          <div class="form-group">
            <button>Consultar Orçamento</button>
          </div>
        </div>
    </div>
